:root {
    --width: 1920;
    --height: 1080;
    --font: calc(var(--width) * 0.04)
}

body {
    font-size: 0px;
    margin: 0px;
    border: 0px;
    padding: 0px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.headhead {
    display: block;
    height: fit-content;
    width: fit-content;
    flex-basis: 25%;
    flex-grow: 1;
    background-color: rgb(255, 81, 0);
    text-align: center;
    font-size: var(--font);
    color: aliceblue;
    padding-top: calc(var(--height) * 0.03);
    padding-bottom: calc(var(--height) * 0.03);
    transition: all 0.3s;
}

.headhead:hover {
    background-color: rgb(255, 38, 0);
}

.headhead:active {
    background-color: rgb(196, 62, 0);
}

.playground {
    box-sizing: border-box;
    height: calc(var(--height) * 0.45);
    width: 90%;
    background-color: rgb(255, 81, 0);
    color: aliceblue;
    font-size: calc(var(--font) * 1.5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: calc(var(--height) * 0.02734375);
    margin-bottom: calc(var(--height) * 0.03125);
    text-align: center;
    border-radius: calc(var(--width) * 0.01953125);
    transition: all 0.3s;
    padding-top: calc(var(--height) * 0.17 - (var(--font)/2));
}

.playground:hover {
    background-color: rgb(255, 38, 0);
}

.playground:active {
    background-color: rgb(196, 62, 0);
}

.question {
    box-sizing: border-box;
    height: calc(var(--height) * 0.25);
    width: 90%;
    background-color: rgb(255, 81, 0);
    color: aliceblue;
    font-size: calc(var(--font) * 1.5);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: calc(var(--height) * 0.02734375);
    margin-bottom: calc(var(--height) * 0.03125);
    text-align: center;
    border-radius: calc(var(--width) * 0.01953125);
    transition: all 0.3s;
    padding-top: calc(var(--height) * 0.1 - (var(--font)/2));
}

.posthead {
    width: 100%;
    font-size: calc(var(--font) * 1.5);
    font-style: italic;
    text-align: center;
    color: rgb(255, 81, 0);
    margin-top: calc(var(--height) * 0.04);
    margin-bottom: calc(var(--height) * 0.04);
}

iframe {
    width: 90%;
    height: calc(var(--width) * 0.453);
}

.videodiv {
    width: 90%;
    margin-left: 5%;
    margin-top: calc(var(--width) * 0.03125);
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 81, 0);
    border-radius: calc(var(--width) * 0.03);
}

.answer {
    box-sizing: border-box;
    height: calc(var(--height) * 0.15);
    width: 90%;
    background-color: rgb(255, 81, 0);
    color: aliceblue;
    font-size: var(--font);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: calc(var(--height) * 0.02734375);
    margin-bottom: calc(var(--height) * 0.03125);
    text-align: center;
    border-radius: calc(var(--width) * 0.01953125);
    transition: all 0.3s;
    padding-top: calc(var(--height) * 0.06 - (var(--font)/2));
}

.answer:hover {
    background-color: rgb(255, 38, 0);
}